@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>My shopping list</h1>
    <p class="lead">Simple application for shopping lists</p>
    <br/>
    <div>
        <table style="width:100%">
            <tr style="text-align:center">
                <th style="width:33%; text-align:center; text-align:center">
                    <p>@Html.ActionLink("Create your shopping list", "Create", "Lists")</p>
                </th>
                <th style="width:34%; text-align:center">
                    <p>@Html.ActionLink("Your saved lists", "Index", "Lists")</p>
                </th>
                <th sstyle="width:33%; text-align:center">
                    <p>@Html.ActionLink("Items from your lists", "Index", "Items")</p>
                </th>
            </tr>
        </table>
    </div>
</div>

